@page
@model AceJobAgency.Pages.ForgotPasswordConfirmationModel
@{
}

<div class="container mt-5">
    <h1>Password Reset Link Sent</h1>
    <p>If the email address is registered, you will receive a password reset link shortly.</p>
</div>
